PORT=4000
NODE_ENV=production

SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_xxx

JWT_SECRET=troque-por-uma-string-longa-e-aleatoria
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@livereality.com
ADMIN_PASSWORD=SuaSenhaForte@123

FRONTEND_URL=https://seuapp.vercel.app
